<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"0>
		<title>Redditmon</title>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/css/style.css" rel="stylesheet">
		<link href="static/css/datepicker.css" rel="stylesheet">
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Redditmon</a>
            <ul class="nav">
            </ul>
		</div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
		<div class="well">
			<div class="btn-group">
  				<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">Select a Subreddit <span class="caret"></span></button>
  				<ul class="dropdown-menu">
					<li><a href="#">ddddd</a></li>  
				</ul>
			</div>
        </div>
		<div class="well">
    		<label>From</label>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" data-date-format="DD MM dd, yyyy" class="datepicker" />
			</div>
			<label>To</label>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" data-date-format="DD MM dd, yyyy" class="datepicker" />
			</div>
			<a class="btn">Fetch</a>
		</div>
		<div class="well">
    		<form>
				<label>Display Timezone: <span class="label label-info">UTC</span></label>
				<div class="input-prepend">	
					<span class="add-on"><i class="icon-globe"></i></span>
					<input type="text" placeholder="Enter a new timezone">
				</div>
				<a href="#" class="btn">Set</a>
			</form>
		</div>
        </div>
        <div class="span9">
		<div class="hero-unit">
            <h2>Monitor Reddit readers trends</h2>
            <p>Redditmon enables you to find the best time for sharing your links on Reddit based on sub-reddit readership analytics.
			Select a subreddit from the left to get started!
			</p>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Redditmon</p>
      </footer>
    </div>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" charset="utf-8" src="static/js/main.js"></script>
	</body>
</html>
